extends ./template.jade

block content
  div.container
    h1(class="red error") #{error}
    h1(class="green success") #{success}
    h1 Welcome administrator #{email}!
    h6 For help or to suggest new features, contact
      a(href="mailto:mbilik0726@bths.edu")  mbilik0726@bths.edu
    h3 Add admin user
    form(action="/addAdmin", method="POST")
          | User Email:
          input(type='email', name='addEm')
          input(type='submit', value="submit", class="btn")
    h3 Remove admin user (Careful, you can do this to yourself.)
    form(action="/removeAdmin", method="POST")
          | User Email:
          input(type='email', name='removeEm')
          input(type='submit', value="submit", class="btn")
    h3 Add message and choose place:
    textarea(id="MyID")
    div
      h1
        a(href="#",id="freshmen").
              Post in the Freshmen forum
      h1
        a(href="#",id="sophomore").
              Post in the Sophomore forum
      h1
        a(href="#",id="juniors").
              Post in the Junior forum
      h1
        a(href="#",id="senior").
              Post in the Senior forum
block code
  script(type='text/javascript').
    $('#freshmen').click(function() {
    alert( "Posted.");
    console.log(simplemde.value());
    $.post("/freshmen", {content: simplemde.value()});
    });
    $('#sophomore').click(function() {
    alert( "Posted.");
    console.log(simplemde.value());
    $.post("/sophomores", {content1: simplemde.value()});
    });
    $('#juniors').click(function() {
    alert( "Posted.");
    console.log(simplemde.value());
    $.post("/juniors", {content2: simplemde.value()});
    });
    $('#senior').click(function() {
    alert( "Posted.");
    console.log(simplemde.value());
    $.post("/seniors", {content3: simplemde.value()});
    });
