extends ./testtemplate.jade
block content
  div(class="container")
    h1.center Freshman SGO Posts
    each val in freshmenPosts.reverse()

      div
        h1(class="changeToHTML")=val.post

  div(class="container", id="markdown")
block code
  script(src='https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js')
  script(type="text/javascript").
    var posts = !{JSON.stringify(freshmenPosts)};
    var counter = 0;
    var converter = new showdown.Converter()
    $(document).ready(function(){
    $(".changeToHTML").each(function(index, element) {
    console.log($(this))
    console.log($(this).text())
    $(".changeToHTML").remove();
    $('#markdown').append('<div class=" card">' +'<div class="card-body">' + '<h5 class="card-title">' + 'User: ' + posts[counter].author + '</h5>' + '<h6 class="card-subtitle mb-2 text-muted">' + 'Time: ' + posts[counter].time + '</h6>' +'</div>'+ ' <hr>  ' + '<div class="black">' + converter.makeHtml($(this).text()) + '</div>' + '</div>')
    counter=counter+1;
    }

    );
    });
