extends ./template.jade

block content
  div(class="container")
    h1.center Junior SGO Posts
    each val in juniorPosts
      div
        h1(class="changeToHTML")=val.post

  div(class="container", id="markdown")
block code
  script(src='https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js')
  script(type="text/javascript").
    var posts = !{JSON.stringify(juniorPosts)};
    var counter = 0;
    var converter = new showdown.Converter()
    $(document).ready(function(){
    $(".changeToHTML").each(function(index, element) {
    console.log($(this))
    console.log($(this).text())
    $(".changeToHTML").remove();
    $('#markdown').append('<div class="item">' +'<div class="topper">' + '<h6 class="user">' + 'User: ' + posts[counter].author + '</h6>' + '<h6 class="time">' + 'Time: ' + posts[counter].time + '</h6>' +'</div>'+ converter.makeHtml($(this).text()) + '</div>')
    counter=counter+1;
    }
    );
    });
