extends ./template.jade

block content
  div.container
    h1(class="red error") #{error}
    h1(class="green success") #{success}
    h1 Sign In
    form(action="/postSignIn",method="POST")
          | Email:
          input(type='email', name='email')
          | Password:
          input(type='password', name='password')
          input(type='submit', value="submit", class="btn")
    h1 Sign Up
    form(action="/postSignUp",method="POST")
          | Email:
          input(type='email', name='email')
          | Password:
          input(type='password', name='password')
          input(type='submit', value="submit", class="btn")
    h1
      a(href="/logout") Log Out

    h1
      a(href="/admin") Admin Dashboard
