extends ./testtemplate.jade

block content
  div.container
    h1(class="red error") #{error}
    h1(class="green success") #{success}
    div.form-box
      form(method="POST", action="/postSuggestion")
        .form-group
          label(for='text') Full Name
          input#name.form-control(type='text',placeholder='Enter your full name',name="name" required)
        .form-group
          label(for='text') OSIS
          input#drive.form-control(type='text',placeholder='Enter your OSIS',name="osis" required)
        .form-group
          label(for='text' required) Description
          textarea#desc.form-control(name="desc",type='text', style='',placeholder='Enter description')
        .form-group
          label(for='text', style='') Club Type
          select.form-control(name="type", multiple)
            option General
            option Club Room Changes
            option Club Time Changes

        button.btn.btn-primary.btn-orange(name='', style='color: white;', type="submit", action="/postClub", value="Submit!") Submit!
