doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    title The Foundry
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    link(rel='stylesheet', href='style.css')
    link(href='https://fonts.googleapis.com/css?family=Noto+Sans&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css')
  body
    .backgroundUp
      nav.z-depth-0
        .nav-wrapper
          a(href='/')
            img.logo.brand-logo(src='foundrylogo.svg', alt='')
          ul#nav-mobile.right.hide-on-med-and-down
            li
              a(href='/studyguides') Study Guides
            li
              a(href='/clubs') Clubs
            li
              a(href='https://www.facebook.com/ConfessionsBTHS/', target='_blank') Tech Confessions
            li
              a(href='/vote') Vote

            li
              a(href='/transparency') School Transparency

            li
              a(href='http://thebp.herokuapp.com', target='_blank') The Blueprint

            li
              a(href='http://thebp.herokuapp.com/humor', target='_blank') The Radish

            li
              a(href='/login')
                b Log In
            li
              a(href='/logout')
                b Log Out
    block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
    script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js')
    script(type='text/javascript').
      var simplemde = new SimpleMDE({ element: document.getElementById("MyID") });
      console.log(simplemde.value());
    block code
