extends ./testtemplate.jade

block content
	h1.big Foundry is a comprehensive student platform sponsored by and created for the Brooklyn Technical High School Student Government Organization (SGO)
	p It is named after the abandonded foundry at Brooklyn Tech which was once used as a space for pouring molten metal and other materials into molds as a part of the engineering general education. It is now, like the radio station control room and Dr. Albert Colston's apartment, used for storage.
	p
		b Brooklyn Tech is an elite eight NYC specialized institution for secondary education. We are also the largest high school in the United States with 6000 students. Our admission rate is roughly 8% out of a 24,000 student applicant pool every year.
	img.d-none.d-lg-block(src="http://people.morrisville.edu/~Loudismj/bths/BTHSLOGO.gif")
