html{
  overflow-x: hidden;
  font-family: 'Noto Sans', sans-serif;
}

.up{
  z-index: 100!important;
}
nav{
  /* position: fixed; */
  height: 16vh;
  padding: 10px;
  background-color: transparent!important;
  z-index: 100;
}
nav a{
  color:#696463!important;
}
.error{
  padding: 20px;
  border-radius: 20px;
  color: white;
}
.success{
  padding: 20px;
  border-radius: 20px;
  color: white;
}
.title{
  padding: 0px!important;
  margin: 0px !important;
}
footer{
margin-top: -50px;

}
.top  {
  height: 100vh;
  color:#696463!important;
}
.backgroundUp{
  background-position: center;
  background-image: -webkit-linear-gradient(top,
    rgba(255,255,255,1) 0%,
    rgba(255,255,255,0) 20%,
    rgba(255,255,255,0) 80%,
    rgba(0,0,0,0.0) 100%
  ), -webkit-linear-gradient(bottom,
    rgba(255,255,255,1) 0%,
    rgba(255,255,255,.8) 20%,
    rgba(255,255,255,.5) 80%,
    rgba(0,0,0,0.0) 100%
  ), url("mural.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
footer h5{
  color: #EBB39A;
  padding: 50px !important;
  margin: 0px !important;
}

a{
  color: inherit;
}
.underline{
  border-bottom: solid;
}
.navImages a p{
  font-weight: bold;
  color: #EBB39A!important;
}
.sectionColor{
  background-color: #d55821;
  color: #EBB39A;
}
.pad{
  padding: 25px;
}
.firstSection{
  height: 100vh!important;
  color: #696463;
  background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(213,87,33,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(11%, rgba(255,255,255,1)), color-stop(100%, rgba(213,87,33,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(213,87,33,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(213,87,33,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(213,87,33,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(213,87,33,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d55721', GradientType=0 );
}
.fullBar{
  height: auto;
}
.btn{
  background-color: #D55821!important;
}
a:hover{
  font-weight:bold;
}
.item{
  padding: 10px;
  color:white;
  border-radius: 20px;
  background-color: #D55821;
  margin: 20px;
}
.margin{
  margin-top: 10vh;
}
.logo{
  margin: 10px;
  width:25%!important;
  height: auto!important;
}
.content {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.centerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.contentAbs {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.topText{
  text-align: center;
}
.navImages a{
  width: 15%;
}
.navImages{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.navImages img{
width: 80%;
}
